- if user_signed_in?
  .admin_menu
    = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.new", :default=> "Create")}") + " " + t("web-app-theme.new", :default => "Create"), new_blog_entry_path, :class => "button" 
.block
  - @blog_entries.each do |blog_entry|
    -#.secondary-navigation
    -#  %ul.wat-cf
    -#    %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", blog_entries_path
    -#    %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_blog_entry_path
    .content    
      .content_title
        .post_title 
          = link_to blog_entry.subject, blog_entry_path(blog_entry)        
      .content_date
        =  blog_entry.updated_at.strftime("%d %b %Y")
      .content_body      
        -#.post_upper
        -#.post_middle
        -#.post_date
          -#= blog_entry.created_at
        .post_content
          = sanitize(blog_entry.content)
        -#.post_lower
.actions-bar.wat-cf                                       
  .actions
  = paginate @blog_entries
- content_for :sidebar, render(:partial => 'sidebar')
